<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.risingj.cordova.maplauncher"
      version="0.0.0">
    <name>MapLauncher</name>
    <description>Cordova plugin launching the maps application with directions, a landmark, or search term.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,maps</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/maplauncher.js" name="maplauncher">
        <clobbers target="MapLauncher" />
    </js-module>
    
    <!-- android -->
    <!--<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="" >
                <param name="android-package" value=""/>
            </feature>
        </config-file>
        <source-file src="" target-dir="" />
    </platform> -->

    <!-- amazon-fireos -->
    <!--<platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="" >
                <param name="android-package" value=""/>
            </feature>
        </config-file>
        <source-file src="" target-dir="" />
    </platform> -->
    
    <!-- ubuntu -->
    <!-- <platform name="ubuntu">
        <header-file src="" />
        <source-file src="" />
    </platform> -->

    <!-- ios -->
    <!-- <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="">
                <param name="ios-package" value="" /> 
            </feature>
        </config-file>
        <header-file src="" />
	    <source-file src="" />
    </platform> -->

    <!-- blackberry10 -->
    <!-- <platform name="blackberry10">
    <source-file src="" target-dir="" />
        <config-file target="www/config.xml" parent="/widget">
            <feature name="" value=""/>
        </config-file>
    </platform> -->

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="MapLauncher">
                <param name="wp-package" value="MapLauncher"/>
            </feature>
        </config-file>

        <source-file src="src/wp/MapLauncher.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="MapLauncher">
                <param name="wp-package" value="MapLauncher"/>
            </feature>
        </config-file>
        <source-file src="src/wp/MapLauncher.cs" />
    </platform>
    
</plugin>
